<h1>All the Best Fish </h1>

    @fish.each do |fish|
        <p>Name:<%=fish.name %></p>
        <p>Color: <%=fish.color %></p>
        <p>Image:</p> <img src="<%= fish.picture%>">
    <%=end%>

    